import Project from "../../components/Project.astro";
---

<Project
  title="Red Brightening Image Filter"
  assignment="Take and image with cutomization option for the user that changes and image"
>
  <p>My project was super fun, me and my team worked hard on it</p>
  <p>Our project used images from the web to showcase our red brightening filter<p> 
 </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="gbYPREO" data-pen-title="Text Interface Library + Turtle (In Series)" data-user="Mason-Cayer" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/Mason-Cayer/pen/gbYPREO">
  Text Interface Library + Turtle (In Series)</a> by Mason Cayer (<a href="https://codepen.io/Mason-Cayer">@Mason-Cayer</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cautious-enigma-6944vj45p95gc4p5w-5173.app.github.dev/"></script>
</Project>
import Project from "../../components/image-filter.astro";
---

<Project
  title="Red Brightening Filter"
  assignment="Students take and image and create a filter that a user cna customize in some way or another."
>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe
    src=https://cautious-enigma-6944vj45p95gc4p5w-5173.app.github.dev/ 
    title="Red Brightening Filter"
    width="100%"
    height="800px"></iframe>
</Project>
