---
/* Library imports go here */
const { title, children } = Astro.props;
/* Javascript that run "server-side" when we build go here */

import "../scripts/main.js";
---

<!-- HTML Code goes here w/ "Astro" templating in curly brackets --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initialScale=1.0" />
    <script src="../scripts/main.js"></script><script>
      import "../scripts/browser.js";
    </script>
    <title>
      {title}
    </title>
    <slot name="head" />
  </head>
  <body class="container"
    ><canvas class="background"></canvas>
    <slot />

    <footer>
      Page by <b>Mason Cayer</b>, last updaed October, 2024. All rights reserved
    </footer>
  </body>
</html>
Mason APCSP Portfolio © 2024 by Mason Cayer is licensed under Creative Commons Attribution-ShareAlike
4.0 International
<p
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:dct="http://purl.org/dc/terms/"
>
  <a
    property="dct:title"
    rel="cc:attributionURL"
    href="https://miniature-giggle-r4pp7jp6xg7pcwwwv-4321.app.github.dev/"
    >Mason APCSP Portfolio</a
  > by <span property="cc:attributionName">Mason Cayer</span> is licensed under <a
    href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
    target="_blank"
    rel="license noopener noreferrer"
    style="display:inline-block;"
    >Creative Commons Attribution-ShareAlike 4.0 International<img
      style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
      src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
      alt=""
    /><img
      style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
      src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
      alt=""
    /><img
      style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
      src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
      alt=""
    /></a>
</p>
<footer> Actknowledgements
</footer> 
<footer>- I used chatgtp to find a libraby</footer>
 <footer>- I used Piccos to organize my coding</footer>