---
import Project from "../../components/Project.astro";
---

<Project
  title="Guess The Sport"
  assignment="Create a program built on the concept of binary search"
>
  <p>My project was super fun, me and my team worked hard on it</p>
  <p>Our project used 13 different sports in which the user would think of one. From there we would narrow down the options through a set of questions. </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe
    src="https://iacs-cs.github.io/binary-search-game-the-goats/"
    title="Personality Quiz"
    width="100%"
    height="800px"></iframe>
</Project>
