---
import Project from "../../components/Project.astro";
---

<Project
  title="Guess The Sport"
  assignment="Create a program built on the concept of binary search"
>
  <p>My project was super fun, me and my team worked hard on it</p>
  <p>Our project used 13 different sports in which the user would think of one. From there we would narrow down the options through a set of questions. </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="gbYPREO" data-pen-title="Text Interface Library + Turtle (In Series)" data-user="Mason-Cayer" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/Mason-Cayer/pen/gbYPREO">
  Text Interface Library + Turtle (In Series)</a> by Mason Cayer (<a href="https://codepen.io/Mason-Cayer">@Mason-Cayer</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</Project>
